* {
    box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: #f8f6f6;
}

.hero-entry{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero-entry > img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-title{
    position: relative;
    color: #d1d1d1;
}

.hero-title > h1{
    font-family: "Sacramento", cursive;
    font-size: 3.5rem;
}

.hero-title > p{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

.hero-body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    
}

.hero-body > img{
    height: 30%;
    border-radius: 100%;
    margin-bottom: 10px;
    border: #40514e solid 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.hero-body > h1{
    font-family: "Montserrat", sans-serif;
    color: #40514e;
}

.hero-body > p{
    font-family: "Merriweather", serif;
    font-size: 1rem;
    line-height: 25px;
    color: #40514e;
}

.resume{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.resume > h1{
    color: #40514e;
    font-family: "Montserrat", sans-serif;
}

.card1{  
    background-color: #dfe2e5;
    height: 25%;
    width: 60%;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    line-height: 25px;
    padding-left: 0px;
    border: 1px solid rgba(255,255,255,0.35);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

@media (max-width: 1150px){
    .resume{
        height: auto;
        gap: 30px;
    }
}

@media (max-width: 650px){
    .card1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;        
        margin: 0;
    }
    .card1 > img{
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 21px;
    }
}

.card1:hover, .card2:hover{
    transform: scale(1.02) translateY(-5px);
}

.card1 > img{
    height: 135px;
    float: left;
    margin: 20px 70px 0px 50px;
}

.resume h3{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0px;
    margin-top: 15px;
    color: #40514e;
}

.resume ul{
    color: #40514e;
}


.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.card2{
    width: 75%;
    background-color: #d2d6dd;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    line-height: 25px;
    border: 2px solid rgba(175, 174, 174, 0.35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease;
    height: 155px;
}

@media (max-width: 1150px){
    .card2{
        height: auto;
    }
}

@media (max-width: 650px){
    .card2{
        padding: 0;
        padding-bottom: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


.card2 .card2-para{
    width: 60%;
    float: left;
}

.card2 .card2-anch{
    float: right;
}


.card2 > .card2-para > h3{
    color: #40514e;
    font-family: "Montserrat", sans-serif;
}

.card2 > .card2-para > p{
    color: #40514e;
}

.card2 a{
    font-weight: 200;
    font-size: large;
    color: #8f2020;
}

.about{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #40514e;
}

.about-sec{
    text-align: center;
    width: 50%;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 1150px){
    .about-sec{
        width: 70%;
    }
}
.contact{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #40514e;
}

.header1{
    margin-top: 130px;
    height: 52vh;
    width: 30%;
}

.contact h1{
    color: black;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
}

.contact h3{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
}

.contact p{
    line-height: 20px;
    margin-bottom: 50px;
    font-size: 1rem;
}

button{
    border-radius: 10px;
    background-color: #40514e;
    height: 40px;
    width: 150px;
    margin-bottom: 120px;
}

.contact a{
    color: #d6d6d6;
    font-size: large;
}

.footer {
    height: 100%;
    width: 100%;
    background-image: url(assets/images/portfolio2-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1150px){
    .header1{
        width: 70%;
    }
}


.footer-items{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
}

.footer-items > a{
    color: #696969;
}

.footer-last > p{
    color: #979494;
    margin-bottom: 10px;
}
